.cards
  background-color #fff
  margin 0 0.3rem 0.3rem
  border-radius 0.3rem
  // border-bottom 0.3rem solid rgba(0,0,0,0)
  ul
    display flex
    list-style none
    flex-direction column
    margin 0
    padding 0
    li
      padding 0 0.3rem
      display flex
      justify-content space-between
      align-items center
      height 1.7rem
      position relative
      &:after
        content ''
        position absolute
        top 0
        left 0
        width 200%
        height 200%
        transform scale(0.5)
        transform-origin 0 0
        border-bottom 1px solid #dddddd
      span
        font-size 0.45rem
        color #333333
      img
        width 0.4rem
        height 0.4rem