.Main_navBar
  width 10rem
  height 1.3rem
  display flex
  background-color #ffffff
  position fixed
  left 0
  bottom 0
  .active
    background linear-gradient(0deg, hsla(0, 0%, 100%, 0.05), rgba(0, 0, 0, 0.05))
    color #333 !important
  .Main_navBar_item
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 2.5rem
    height 100%
    text-decoration none
    color #9a9a9a
    img
      width 0.6rem
      height 0.6rem
      margin-bottom 0.1rem
    span
      font-size 0.2rem
      font-weight bolder



